* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 40%;
    height: 80vh;
}

.logo img{
    width: 80px;
    height: 80px;
}

label {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

input {
    display: block;
    position: relative;
    width: 500px;
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 7px;
    transition: all .2s ease-in-out;
}

input:focus {
    border: 2px solid rgb(45, 196, 255);
    box-shadow: 0 0 5pt 2pt  rgb(143, 222, 253);
}



.btn-container {
   margin-top: 15px;
   width: 100%;
   display: flex;
   /* background-color: red; */
   justify-content: flex-end;
}

.btn {
   border: none;
   cursor: pointer;
   padding: 15px 20px;
   border-radius: 5px;
   outline: none;
   transition: all .3s ease-out;
   letter-spacing: 2px;
}

.btn-first {
    text-decoration: underline;
    background-color: #fff;
    margin-right: 10px;
}

.btn-first:hover {
    background-color: black;
    color: #fff;
}

.btn-second {
    background-color: black;
    color: #fff;
    text-transform: uppercase;
}

.btn-second:hover {
    background-color: #fff;
    color: #000;
}